
  <ul class="li-box flex flex-col items-center ">
    <h3 class="form-head font-bold m-2">Coment form</h3>
<%= form_with(model: [@post, @comment], url: user_post_comments_path(@post.author, @post), local: true) do |form| %>
<div class=" flex flex-col max-w-xs">
        <%= form.text_area :text, placeholder: "Enter your comment", class: "border h-32 p-2 form-text-area"%>
      <%= form.submit "Add Comment", class: "button border form-button bg-blue-600 text-white font-bold p-2 m-2 rounded-ful" %>
    </div>
    <% end %>
  </ul>
