<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
   <%= stylesheet_link_tag 'application.tailwind' %>
  </head>
  <body>
    <div>
      <div class="rounded-lg p-8 flex items-center">
        <img class="w-32 h-fill border" src="https://via.placeholder.com/150">
        <div class="ml-4 h-fill text-center flex inform border">
          <h1 class="font-bold mr-4 mb-2 header-font">User name</h1>
          <p class="text-red-600 par">Number of posts: x</p>
        </div>
      </div>
       <div class="rounded-lg p-8 flex items-center">
        <img class="w-32 h-fill border" src="https://via.placeholder.com/150">
        <div class="ml-4 h-fill text-center flex inform border">
          <h1 class="font-bold mr-4 mb-2 header-font">User name</h1>
          <p class="text-red-600 par">Number of posts: x</p>
        </div>
      </div>
       <div class="rounded-lg p-8 flex items-center">
        <img class="w-32 h-fill border" src="https://via.placeholder.com/150">
        <div class="ml-4 h-fill text-center flex inform border">
          <h1 class="font-bold mr-4 mb-2 header-font">User name</h1>
          <p class="text-red-600 par">Number of posts: x</p>
        </div>
      </div>
    </div>
  </body>
</html>
