<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="flex items-center justify-center h-screen">
      <div class="border rounded-lg p-4">
        <img class="w-32 h-32 rounded-full mb-4" src="https://via.placeholder.com/150">
        <div class="text-center">
          <h1 class="text-lg font-bold">User name</h1>
          <p class="text-red-600">Number of posts</p>
        </div>
      </div>
    </div>
  </body>
</html>
