<!DOCTYPE html>
<html>
  <head>
  <title> post </title>
    <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <div class="container">
  <div>
    <div class="rounded-lg p-8 items-center border">
      <div class="flex justify-between">
        <h3 class="font-bold">Post #1 by username</h3>
        <h5 class="text-red-900 font-bold"> comments: x, likes: y</h5>
      </div>
      <p class="">lorem ipsum dolor sit amet, consectetur adip lorem lorem ipsum dolor sit amet, consectetur adip
      lorem lorem ipsum dolor sit amet, consectetur adip lorem lorem ipsum dolor sit amet, consectetur
      adip lorem </p>
    </div>
    <div class="font-bold border m-4">
      <p> Username: Comment 1 <p>
      <p> Username: Comment 2 <p>
      <p> Username: Comment 3 <p>
    </div>
  </div>
</div>
  </body>
</html>
